.advantages{
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}



.advantages-list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

.advantages-list-item{
  display: flex;
  align-items: center;
  flex: 1;
  gap: 12px;
  background: $lime;
  padding: 10px 29px 10px 17px;
  border-radius: 5px;
  max-height: 60px;
  max-width: 220px;
  @include mobile{
    max-width: 213px;
    max-height: 55px;
    margin: 0;
    width: 100%;
  }
  @include tablet{
    min-width: 180px;
    margin: 0;
    width: 100%;
  }
}
.advantages-list-img-box{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: $green;
  padding: 8px;
  @include mobile{
    width: 35px;
    height: 35px;
    padding: 6px;
    margin: 10px 0;
  }

}
.advantages-list-img{
  height: 24px;
  width: 24px;
  fill: $white;
}

.advantages-list-text{
  color: $black;
  font-family: $text-Poppins;
  font-size: 16px;
  font-weight: 400;
  @include mobile{
    font-size: 14px;
  }
}