
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}













//.course-title{
//  color:$text-black;
//  font-family: $text-Poppins;
//  font-size: 32px;
//  font-weight: 600;
//  margin-bottom: 64px;
//}
//
//
//.course-slideshow-box {
//  display: flex;
//  position: relative;
//
//  .course-slideshow-box-text {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    width: 290px;
//    height: 100%;
//    background: rgba(0, 0, 0, 0.5);
//    display: flex;
//    align-items: flex-end;
//    margin-left: 15px;
//    padding: 16px;
//
//  }
//}
//.course-slideshow-text{
//  color: $white;
//  font-size: 32px;
//  font-weight: 600;
//  font-family: $text-Poppins;
//  word-wrap: break-word;
//}
//.course-slideshow-list{
//  display: flex;
//  position: relative;
//}
//.course-slideshow-button-box{
//  display: flex;
//  width: 60px;
//  height: 60px;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//  position: relative;
//}
//
//.course-slideshow-next{
//  padding-left: 10px;
//  padding-bottom: 5px;
//  border-radius: 100px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//  background: $lime;
//  font-size: 30px;
//  color: $green;
//  position: absolute;
//  top: 320%;
//  left: -105px;
//  z-index: 2;
//}
//.course-slideshow-prev{
//  padding-left: 10px;
//  padding-bottom: 5px;
//  border-radius: 100px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  text-align: center;
//  background: $lime;
//  font-size: 30px;
//  color: $green;
//  position: absolute;
//  top: 320%;
//  left: 20px;
//  z-index: 2;
//}