.instructors{
  margin-bottom: 130px;
  @include mobile{
    margin-bottom: 45px;
  }
  @include tablet{
    margin-bottom: 52px;
  }
}
.instructors-title{
  color: $black;
  font-family: $text-Poppins;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 64px;
  @include mobile{
    font-size: 16px;
  }
  @include tablet{
    font-size: 22px;
  }
}

.instructors-list{
  display: flex;
  gap: 35px;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  @include mobile{
    flex-wrap: wrap;
    gap: 15px;
  }
  @include tablet{
    flex-wrap: wrap;
    gap: 25px;
  }
}
.instructors-list-element{
  box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
  border-radius: 6px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  text-align: center;
  width: calc((100% - 70px) / 3);
  @include mobile{
    width: calc((100% - 15px) / 2);
  }
  @include tablet{
    width: calc((100% - 50px) / 3);
    //min-width: 290px;
    //max-height: 320px;
    //max-width: 300px;
  }
}

.instructors-list-element-img{
  height: 114px;
  width: 114px;
  justify-self: center;
  align-self: center;
  display: flex;
  margin-bottom: 10px;
  @include mobile{
    height: 53px;
    width: 53px;
    margin-bottom: 5px;
  }
  @include mobile{
    height: 65px;
    width: 65px;
    margin-bottom: 5px;
  }
}

.instructors-list-element-title{
  color: $text-black;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 136.5%;
  margin-bottom: 4px;

  @include mobile{
    font-size: 12px;
    margin-bottom: 2px;
  }
  @include mobile{
    font-size: 17px;
    margin-bottom: 3px;
  }
}

.instructors-list-element-text{
  color: $green;
  text-align: center;
  font-family: $text-Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 136.5%;
  margin-bottom: 30px;

  @include mobile{
    font-size: 8px;
    margin-bottom: 15px;
  }
  @include mobile{
    font-size: 12px;
    margin-bottom: 20px;
  }
}

.instructors-list-element-description{
  color:$text-black;
  text-align: center;
  font-family: $text-Poppins;
  font-size: 16px;
  font-weight: 400;
  @include mobile {
    font-size: 8px;
  }
  @include tablet {
    font-size: 12px;
  }
}