.popular-course-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
  @include mobile{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  @include tablet{

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.popular-course-top-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}


.popular-course-top-box-select{
  width: auto;
  appearance: none;
  height: 46px;
  display: inline-flex;
  padding: 8px 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  background: #09B451;
  @include mobile{
    height: 36px;
    border-radius: 28px;
  }
}


.popular-course-top-box-select-element,
.popular-course-top-box-select{
  border: none;
  outline: none;
  text-align: center;
  color: $white;
  font-family: $text-Poppins;
  font-size: 18px;
  font-weight: 400;
  @include mobile{
    font-size: 12px;
  }
}
.popular-course-top-box-title{
  color: $text-black;
  font-family:$text-Poppins;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  @include mobile{
    font-size: 16px;
  }

}

.popular-course-list-element{
  height: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 0px 20px 0px rgba(203, 203, 203, 0.25);
  @include desktop{
    min-width: 360px;
  }
  @include mobile{
    width: calc((100% - 16px)/2);
    height: 100%;
    border-radius: 5px;
  }
  @include tablet{
    width: 348.5px;
    height: 100%;
    border-radius: 7px;
  }
}

.popular-course-list-img{
  width: 100%;
  height: 215px;
  flex-shrink: 0;
  border-radius: 5px;
  @include mobile{
    width: 100%;
    height: 103px;
  }
  @include tablet{
    width: 100%;
    height: auto;
  }
}

.popular-course-list-title-box{
  display: flex;
  padding: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  @include mobile{
    padding: 3px 13px 3px;
  }
  @include tablet{
    padding: 5px 20px 5px;
  }
}
.popular-course-list-title{
  width: 295px;// спитати max
  color: $text-black;
  font-family: $text-Poppins;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  @include mobile{
    font-size: 14px;
    align-items: center;
  }
  @include tablet{
    font-size: 20px;
  }
}

.popular-course-list-rating-box{
  display: flex;
  gap: 5px;
  text-align: center;
  padding-top: 8px;

}
.popular-course-list-rating-star{
  width: 18px;
  height: 18px;
  @include mobile{
    width: 8px;
    height: 8px;
  }
}

.popular-course-list-rating-text{
  color: $black;
  font-family: $text-Poppins;
  font-size: 13px;
  font-weight: 400;
  align-self: center;
  @include mobile{
    font-size: 8px;
  }
}

.popular-course-list-text-box{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile{
    padding: 0 13px 0;
    flex-wrap: wrap-reverse;
    gap: 5px;
    margin-bottom: 8px;
  }
  @include tablet{
    padding: 5px 20px 5px;
  }
}

.popular-course-list-text-time{
  color: $text-black;
  font-family: $text-Poppins;
  font-size: 16px;
  font-weight: 500;
  @include mobile{
    font-size: 12px;
  }
  @include tablet{
    font-size: 14px;
  }
}
.popular-course-list-students-img{
  width: 13.333px;
  height: 12px;
  flex-shrink: 0;
  fill: $green;
  @include mobile {
    width: 10px;
    height: 9px;
  }
}

.popular-course-list-students-text{
  color: $text-black;
  font-family: $text-Poppins;
  font-size: 16px;
  font-weight: 500;
  @include mobile{
    font-size: 12px;
  }
  @include tablet{
    font-size: 14px;
  }
}
.popular-course-list-students-box{
  display: flex;
  align-items: center;
  gap: 7px;
}

.popular-course-list-prise{
  color: $green;
  font-family: $text-Poppins;
  font-size: 24px;
  font-weight: 600;
  padding-left: 40px;
  @include mobile{
    font-size: 14px;
    padding-left: 0;
  }
  @include tablet{
    font-size: 20px;
    padding-left: 20px;
  }
}