.header-logo{
  color: $black;
  font-family: $text-Poppins;
  font-size: 32.8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
  display: inline-block;
  @include mobile{
    font-size: 23px;
  }
}

.dots {
  position: absolute;
  top: 8px;
  left: 71.6%;
  display: flex;
  gap: 15px;
  @include mobile{
    gap: 11px;
    top: 6px;
  }
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $green;
  @include mobile{
    width: 4px;
    height: 4px;
  }
}