$black: #000000;
$white: #FFFFFF;
$green: #09B451;
$text-black: #333333;
$footer-form-green: #3BD27B;
$purple: #242243;
$text-Poppins: "Poppins";
$text-Open-Sans: "Open Sans";
$text-Source-Sans-3: "Source Sans 3";



@mixin mobile {
  @media screen and (max-width: 767.9px) and (min-width: 0) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}